*.sw[op]
/.dockerignore
/.editorconfig
/.env
/.flake8
/.gcloudignore
/.git/
/.github/
/.gitignore
/.python-version
/Dockerfile
/OSSMETADATA
/Session.vim
/dist/
/docker-compose.yml
/ratings.shelve
/tardsquad_discord_bot/__py_cache__/*
/tardsquad_discord_bot/__pycache__/*
